@media screen and (min-width: 991px) and (max-width: 1200px){  
    .header-center.border-box-left span {
        display: none;
    }
}

@media screen and (min-width: 991px){  
    .main-container .col-md-4.fixed-420 {
        width: 420px;
    }
    .main-container .col-md-8.fixed-420 {
        width: calc(100% - 420px);
    }
    .main-container .col-md-push-4.fixed-420 {
        left: 420px;
    }

    .main-container .col-md-pull-8.fixed-420 {
        right: calc(100% - 420px);
    }
}